table {
  margin: 0;
}

th,
td {
  border: none;
}

tr:nth-child(2n) {
  background-color: #fff;
}


.content__default:not(.theme-default-content:not(.custom)) {
  max-width: 898px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

.theme-default-content:not(.custom) {
  max-width: 898px;
}

.page-nav {
  max-width: 898px !important;
}